html {
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 17px;
}

.logo {
	margin-left: 10px;
	margin-top: 7px;
    display: inline-block;
    vertical-align: middle
    height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px)
  .container {
    width: 85%;
}
@media only screen and (min-width: 993px)
  .container {
    width: 70%;
}

.nav {
	background-color: #ffffff !important;
}

.parallax img {
    width: 100%; 
}

.pad-surface {
	background: rgba(46, 47, 48, 0.10);
	padding: 40px;
}

.title-text {
	font-size: 40px;
	font-weight: 400;
}
        
.subtitle-text {
	font-size: 25px;
}

.button-left {
	background: rgba(117, 126, 133, 0.5);
	margin-right: 10px !important;
}

.button-right {
	background: rgba(117, 126, 133, 0.5);
	margin-left: 10px !important;
}